<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help Me</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <%- include('partials/fragment_header')  %>

        <main>
            <% if(typeof ticket !== 'undefined' && ticket) { %>
                <ul class="ticket-list">
                    <li>
                        <strong><%= ticket.title %></strong>
                        <% if (user && (ticket.authorId === user.id || user.role === 2)) { %>
                            <span>
                                <a href="">Modifier</a>
                                <a href="/ticket/delete/<%= ticket.id %>">Supprimer</a>
                            </span>
                        <% } %>
                    </li>
                    <li>id : <%= ticket.id %></li>
                    <li>date de création : <%= ticket.creation_date %></li>
                    <li>author : <%= ticket.author %></li>
                    <li>description : <%= ticket.description %></li>
                </ul>
            <% } %>
        </main>

        <%- include('partials/fragment_footer')  %>
    </body>
</html>